html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.form-wrap{
    height: 100%;
    width: 100%;
    display: flex;
}

.myform{
    margin: auto;
    width: 25%;
}


input{

    width: 100%;
    margin: auto;

}